	<main>
		<header class="cd-section">
			<div id="welcome" class="cd-container">
				<%= image_tag("logo6.png", :id=> "logo")%>
				<h1 id="h1intro">We're building <br>the future of financial tech</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
			</div> <!-- cd-container -->
		</header>

		<section id="cd-team" class="cd-section">
			<div class="cd-container">
				<h2>Our team</h2>
				<ul>
					<li>
						<a href="#0" data-type="member-1">
							<figure>
								<%= image_tag("paul.jpg", :alt=> "Team member 1")%>
								<div class="cd-img-overlay"><span>View Bio</span></div>
							</figure>

							<div class="cd-member-info">
								Paul Taylor <span>Founder</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>
					
					<li>
						<a href="#0" data-type="member-2">
							<figure>
								<%= image_tag("kevin.jpg", :alt=> "Team member 1")%>
								<div class="cd-img-overlay"><span>View Bio</span></div>
							</figure>

							<div class="cd-member-info">
								Kevin Findlay <span>Engineering Lead</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>

					<li>
						<a href="#0" data-type="member-3">
							<figure>
								<%= image_tag("fabian.jpg", :alt=> "Team member 1")%>
								<div class="cd-img-overlay"><span>View Bio</span></div>
							</figure>

							<div class="cd-member-info">
								Fabian Siddiqi <span>Engineering</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>

					<li>
						<a href="#0" data-type="member-4">
							<figure>
								<%= image_tag("riccardo.jpg", :alt=> "Team member 1")%>
								<div class="cd-img-overlay"><span>View Bio</span></div>
							</figure>

							<div class="cd-member-info">
								Riccardo Vitale <span>Engineering</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>

					<li>
						<a href="#0" data-type="member-5">
							<figure>
								<%= image_tag("yoav.jpg", :alt=> "Team member 1")%>
								<div class="cd-img-overlay"><span>View Bio</span></div>
							</figure>

							<div class="cd-member-info">
								Carlos Lagrange <span>Lead design and UX</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>

					<li>
						<a href="#0" data-type="member-6">
							<figure>
								<%= image_tag("hung.jpg", :alt=> "Team member 1")%>
								<div class="cd-img-overlay"><span>View Bio</span></div>
							</figure>

							<div class="cd-member-info">
								Hung Lee <span>Recruitment</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>

						<li>
						<a href="#0" data-type="member-7">
							<figure>
								<%= image_tag("bill.jpg", :alt=> "Team member 1")%>
								<div class="cd-img-overlay"><span>View Bio</span></div>
							</figure>

							<div class="cd-member-info">
								Bill Byrne <span>Scientific Board</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>

						<li>
						<a href="#0" data-type="member-8">
							<figure>
								<%= image_tag("tak.jpg", :alt=> "Team member 1")%>
								<div class="cd-img-overlay"><span>View Bio</span></div>
							</figure>

							<div class="cd-member-info">
								Gabe Brostow <span>Scientific Board</span>
							</div> <!-- cd-member-info -->
						</a>
					</li>
				</ul>
			</div> <!-- cd-container -->
			<div id="joinus">
			<h2>Join us</h2>
			<p id="joinus_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
			<a href="mailto:carlos@educredit.org?Subject=CV"><button class="btn1">Send us your cv</button></a>
		</div>
		</section> <!-- cd-team -->

		<div class="cd-overlay"></div>
	</main>

	<div class="cd-member-bio member-1">
		<div class="cd-member-bio-pict">
			<%= image_tag("google.jpg", :alt=> "Member Bio image")%>
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Paul Taylor</h1>
			<p>Paul is a serial entrepreneur specialising in speech, language and artificial intelligence. In 2006, he co-founded Phonetic Arts, which developed speech software for the games industry. Phonetic Arts was acquired by Google in 2010, and Paul worked at Google as head of the text-to-speech group and as a research scientist until leaving in 2013.</p>
			<p>From 2004 to 2006 Paul was a visiting lecturer at Cambridge University, working and teaching in the Engineering department. During this time, he wrote Text-to-Speech synthesis, widely regarded as the definitive book in the field. In 2000, Paul co-founded Rhetorical Systems which was the world leader in text-to-speech. Rhetorical was acquired by Nuance in 2004. From 1989-2000, Paul was at Edinburgh University, where he gained his PhD, worked as a post-doc, tenured lecturer and eventually director of the Centre for Speech Technology Research. He is author of more than 80 academic papers.</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

	<div class="cd-member-bio member-2">
		<div class="cd-member-bio-pict">
			<%= image_tag("techstars.jpg", :alt=> "Member Bio image")%>
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Kevin Findlay</h1>
			<p>Kevin has worked as an independent technology consultant serving both the corporate and investment communities with technology market, product and operational expertise. Kevin has over 19 years experience in the IT, software and electronics, semiconductor industries.</p>
			<p>Prior to starting fteca, Kevin led the PWC Technology Strategy team focusing on commercial due diligence, market reviews, strategic and IT/R&D technical and operational analysis. Kevin was also a member of the PWC Menlo Park Technology Group </p>
			<p>Before PWC Kevin spent 11 years working as a CTO, technical architect and software developer for Antfactory Venture Capital, Lastminute.com, The Royal Bank of Scotland, KAL, BP Exploration and NCR Financial Services. Kevin holds a PhD in Electronics, an MSC in Computer Science and a BSc in Electronics from Edinburgh University.</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

	<div class="cd-member-bio member-3">
		<div class="cd-member-bio-pict">
			<%= image_tag("google.jpg", :alt=> "Member Bio image")%>
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Fabian Siddiqi</h1>
			<p>Fabian was born in England but has lived in California, Madrid and London. A graduate from Imperial College London with a masters in Bioengineering and Electrical Engineering, he spent the last years at university studying the human brain and artificial intelligence. His thesis involved studying the visual cortex and implementing a biologically inspired vision system, capable of recognising simple objects in real time.</P>

			<p>After graduating, he worked at Google on the TTS team creating voices for Spanish to be used on Android and other Google services. He later worked at a startup as a full-stack software engineer developing an e-learning platform which allows teachers and professors to create fully adaptive tutorials, analyse student behaviours and act on them accordingly to improve their lessons.</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

		<div class="cd-member-bio member-4">
		<div class="cd-member-bio-pict">
			<%= image_tag("techstars.jpg", :alt=> "Member Bio image")%>
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Riccardo Vitale</h1>
			<p>Riccardo graduated from Roma Tre university with both a bachelor and a master in computer science. He has worked at Skimlinks defining the architecture for Skimlinks Skimwords and developed systems using various AI technologies. At Google he worked in developinging the text normalization system for the Italian language in a Text-to-Speech system and developed tools for the support of data evaluation for the training of ASR systems and lexicon development.</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

		<div class="cd-member-bio member-5">
		<div class="cd-member-bio-pict">
			<%= image_tag("google.jpg", :alt=> "Member Bio image")%>
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Carlos Lagrange</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, amet, voluptatibus et omnis dolore illo saepe voluptatem qui quibusdam sunt corporis ut iure repellendus delectus voluptate explicabo temporibus quos eaque?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, explicabo, doloribus, esse rem officia quas facilis eius alias similique ducimus amet quam odio perspiciatis dolorem ipsam! Ab, dolores, adipisci, explicabo pariatur illum deleniti quam iusto placeat nisi aliquam praesentium mollitia eligendi a! Sequi, voluptatibus sed quos possimus harum rem tempore fugiat? Corporis, officia, assumenda, asperiores blanditiis quidem aliquam fugiat vel excepturi velit provident aut omnis quos aliquid tempora eaque. Nemo, eveniet, sint maxime eum maiores totam est inventore numquam voluptatem hic nam blanditiis placeat illum nesciunt voluptatum eos cum quos magni voluptates ipsam. Perspiciatis alias ducimus libero. Quo provident omnis fugiat ut repellendus optio cum quaerat odio et ipsa. Molestias, atque repellat non maxime amet corporis magni libero quam numquam error beatae at asperiores et a porro nostrum ab necessitatibus esse aliquid iure repellendus obcaecati unde quo eius eum dolores quasi consectetur culpa velit optio! Sequi, dolor, minima, veniam doloribus in ullam cupiditate iste animi ipsum esse eaque similique illo temporibus magni et earum amet sint deleniti est reiciendis. Maxime, quis, animi, ad quasi adipisci suscipit alias iste reprehenderit ea placeat nulla commodi nobis magnam provident veniam earum odit eveniet possimus aut voluptatum dolorum culpa necessitatibus facere totam quisquam. Ipsam.</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

		<div class="cd-member-bio member-6">
		<div class="cd-member-bio-pict">
			<%= image_tag("techstars.jpg", :alt=> "Member Bio image")%>
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Hung Lee</h1>
			<p>Hung is a recruitment strategist and fixer who has worked with several VC's, Angels & startup CEO's who want to hire the best possible talent. Hung has an MA in Social Anthropology and a postgraduate diploma in Management, Economics & Politics from the University of St. Andrews.</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

		<div class="cd-member-bio member-7">
		<div class="cd-member-bio-pict">
			<%= image_tag("google.jpg", :alt=> "Member Bio image")%>
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Bill Byrne</h1>
			<p>Bill Byrne is Director of the Cambridge, UK R&D Office which was established in 2012. The team in Cambridge is focused on the development of core technologies to improve the quality of statistical machine translation. In addition to his role at SDL, Bill is a Reader in Information Engineering at the University of Cambridge. His specific research interests are in statistical modelling of speech and language.</p>
			<p>Bill has a BS in Electrical Engineering from Cornell University and a PhD in Electrical Engineering from the University of Maryland.</p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->

		<div class="cd-member-bio member-8">
		<div class="cd-member-bio-pict">
			<%= image_tag("techstars.jpg", :alt=> "Member Bio image")%>
		</div> <!-- cd-member-bio-pict -->

		<div class="cd-bio-content">
			<h1>Gabriel Brostow</h1>
			<p>Gabriel is an associate professor in Computer Science at UCL. His Group explores research problems relating to Computer Vision and Computer Graphics. His current focus now is on “smart capture” for analysis and synthesis applications.</p>
			<p>Previously, Gabriel was a visiting researcher at ETH Zurich's CVG Group and a Marshall Sherfield Fellowship in the Computer Vision & Robotics Group at Cambridge University. Gabriel has a Bachelor’s degree from UT Austin and a PhD from Georgia Tech. </p>
		</div> <!-- cd-bio-content -->
	</div> <!-- cd-member-bio -->


	<a href="#0" class="cd-member-bio-close">Close</a> <!-- close the author bio section -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/main.js"></script> <!-- Page jQuery -->